*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /* background-image: url(/img/fonfo.png.jpg); */
    background-color: #ffffffea;
}

form{
    width: 30em;
    height: 37em;
    /* background-color: rgb(123, 185, 9); */
    background-color: #c9c9c9;
    padding-top: 20px;
    margin: 50px auto;
    border-radius: 15px;
}

h1{
    color: #b60000;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

input{
    width: 25em;
    font-size: 16px;
    padding: 8px;
    display: flex;
    margin: 10px auto;
    background-color: rgb(236, 226, 226);
    border-radius: 15px;    
    border: 0px;
}

label{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
    display: block;
    margin: 15px;
}

input[type="button"]{
    width: 105px;
    margin-top: 20px;
    font-size: 20px;
    display: block;
    background-color: rgb(236, 226, 226);
}

input[type="button"]:hover{
    background-color: #b60000;
}
/* table */
div.table{

    margin: 20px, 20px;
    /* text-align: center; */
}


th{
    padding: 10px;
    border: solid 1px #b60000;
}

td{
    padding: 10px;
    border: solid 1px #9b1a1a;
    /* background-color: #c9c9c9; */
}